<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Breadth First Search
  body
    #Container
      #Canvas
      #SideBar
        div#NodeShowUp
        h1#NodeID ID: 0
        button#ConnectNodeButton Connect